<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880847132025-s1d6pvf35v2v9h7c81k3ubb7n3ro7l8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880847132025-s1d6pvf35v2v9h7c81k3ubb7n3ro7l8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBX4Xj4Nw4q_0ywZedfGjgp3iVsyJeyi_o</string>
	<key>GCM_SENDER_ID</key>
	<string>880847132025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jarmen.MaxWayClone</string>
	<key>PROJECT_ID</key>
	<string>maxwaydemo-e4fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>maxwaydemo-e4fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880847132025:ios:d2629d25f0aba5f5cd0ba8</string>
</dict>
</plist>